.my-projects {
    background-color: $catskill-white;
    width: 100%;
    padding: 8rem;
}


.projects-header {
    max-width: 580px;

    &__title {
        font-weight: 600;
        font-size: 36px;
    }

    &__description {
        font-weight: 300;
        font-size: 20px;
        line-height: 2.25rem;
        color: $shuttle-gray;
    }
}


.projects-list-wrapper {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 4rem;
}

.project__list {
    min-width: 580px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;


    @media (max-width: 640px) {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 0;
    }
}
.project-item {
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
border-radius: 8px;
}
.project-list-wraper {
    background-color: $white;
    padding: 48px;
}

.project-footer {
    background-color: $catskill-white;
    min-height: 64px;
}