@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');


@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;

  @media (max-width: 414px) {
    font-size: 12px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  border: 6px solid $big-stone;

  @media (max-width: 414px) {
    border: none;
  }
}

.main {
  background-color: $white;
  margin: 0 auto;
}

.wrapper {
  max-width: 1444px;
  padding-top: 8rem;
  margin: 0 auto;
}