@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap');


@import "modules/hero.scss";
@import "modules/skills.scss";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  border: 6px solid $big-stone;
  color: $big-stone;
}

.main {
  max-width: 1440px;
  background-color: $white;
  margin: 0 auto;
  padding: 7rem 1rem;
}